---
import type { GetStaticPaths } from "astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { getCollection } from "astro:content"
import PostCard from "@/components/ui/PostCard.astro"
import paths from "@/config/paths"

export const getStaticPaths = (async () => {
  // number of pages to display
  const size = 10

  // choose collection to display
  const blogs = (await getCollection("blog"))
    .filter(v => v.data.publish)
    .sort(
      ({ data: { date: dateA } }, { data: { date: dateB } }) =>
        dateB.valueOf() - dateA.valueOf(),
    )
  const total = blogs.length

  // chunk entries into many pages
  const chunks = []
  for (let i = 0; i < total; i += size) {
    chunks.push(blogs.slice(i, Math.min(i + size, total)))
  }

  // provide information for each page
  return chunks.map((chunk, page) => ({
    params: {
      slug: page == 0 ? "" : page
    },
    props: {
      entries: chunk,
      size,
      total,
    }
  }))
}) satisfies GetStaticPaths

// params, props
const page = Astro.params.slug
const { entries, size, total, } = Astro.props
const maxPage = Math.floor(total / size)

// head
const title = "Posts"
const description = `All posts`
---

<BaseLayout {title} {description}>
  <main>
    <h2>All Posts</h2>
    <p>total {total} posts</p>

    <!-- display pages -->
    <section>
      <ol>
        {
          entries.map(({ id, data: { title, description, date }}) => (
            <li>
              <PostCard
                href={paths.blogDetail(id)}
                {title} {description} {date}
              />
            </li>
          ))
        }
      </ol>
    </section>

    <!-- pagination buttons -->
    <section>
      {0 < Number(page)
        ? <a>Prev</a>
        : null}
      {Number(page) < maxPage
        ? <a>Next</a>
        : null}
    </section>
  </main>
</BaseLayout>
