---
import type { GetStaticPaths } from "astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { getCollection } from "astro:content"
import PostCard from "@/components/ui/PostCard.astro"
import paths from "@/config/paths"

export const getStaticPaths = (async () => {
  const size = 10

  const blogs = (await getCollection("blog"))
    .filter(v => v.data.publish)
    
  const length = blogs.length

  // chunk entries
  const chunks = []
  for (let i = 0; i < length; i += size) {
    chunks.push(blogs.slice(i, Math.min(i + size, length)))
  }

  return chunks.map((chunk, page) => ({
    params: {
      slug: page == 0 ? "" : page
    },
    props: {
      entries: chunk.sort(
        ({ data: { date: dateA } }, { data: { date: dateB } }) =>
          dateB.valueOf() - dateA.valueOf(),
      ),
      size,
      total: length,
    }
  }))
}) satisfies GetStaticPaths

// params, props
const page = Astro.params.slug
const { entries, size, total, } = Astro.props
const maxPage = Math.floor(total / size)

// head
const title = "Posts | Giban"
const description = `All posts`
const { href: url } = Astro.url
---

<BaseLayout {url} {title} {description}>
  <main>
    <h2>All Posts</h2>
    <p>total {total} posts</p>
    <section>
      <ol>
        {
          entries.map(({ id, data: { title, description, date }}) => (
            <li>
              <PostCard
                href={paths.blogDetail(id)}
                {title} {description} {date}
              />
            </li>
          ))
        }
      </ol>
    </section>

    <section>
      {0 < Number(page)
        ? <a>Prev</a>
        : null}
      {Number(page) < maxPage
        ? <a>Next</a>
        : null}
    </section>
  </main>
</BaseLayout>
