---
import { css } from "styled-system/css"
import { Icon } from "astro-icon/components"

interface Props {
  level: number
  id: string
}
const { level, id } = Astro.props
const href = "#" + id

const root = css({
  // overflowWrap: "normal",
  wordBreak: "keep-all",
})

const root_h2 = css({
  borderBottom: "primary",
  pb: "1.5",
})

const root__span = css({ verticalAlign: "middle" })

const root__a = css({
  display: "none",
  _groupHover: { display: "inline" },
  "& svg": { display: "inline" },

  ml: "1.5",
  color: "primary.300",
})
---

{
  level == 1 ? (
    <h1 {id} class={`${root} group`}>
      <span class={root__span}><slot /></span>
      <a {href} class={root__a}>
        <Icon name="iconoir:link" />
      </a>
    </h1>
  ) :

  level == 2 ? (
    <h2 {id} class={`${root} ${root_h2} group`}>
      <span class={root__span}><slot /></span>
      <a {href} class={root__a}>
        <Icon name="iconoir:link" />
      </a>
    </h2>
  ) :

  level == 3 ? (
    <h3 {id} class={`${root} group`}>
      <span class={root__span}><slot /></span>
      <a {href} class={root__a}>
        <Icon name="iconoir:link" />
      </a>
    </h3>
  ) :

  level == 4 ? (
    <h4 {id} class={`${root} group`}>
      <span class={root__span}><slot /></span>
      <a {href} class={root__a}>
        <Icon name="iconoir:link" />
      </a>
    </h4>
  ) :

  level == 5 ? (
    <h5 {id} class={`${root} group`}>
      <span class={root__span}><slot /></span>
      <a {href} class={root__a}>
        <Icon name="iconoir:link" />
      </a>
    </h5>
  ) :

  <h6 {id} class={`${root} group`}>
    <span class={root__span}><slot /></span>
    <a {href} class={root__a}>
        <Icon name="iconoir:link" />
      </a>
  </h6>
}
