---
import { css } from "styled-system/css"
import { Icon } from "astro-icon/components"

interface Props {
  level: number
  id: string
}
const { level, id } = Astro.props

const root = css({
  gap: 4,
  wordBreak: "break-all",
  textWrap: "wrap",
})

const h2 = css({
  gap: 4,
  mt: 32,
  mb: 2,
  wordBreak: "break-all",
})

const root__span = css({ verticalAlign: "middle" })

const root__a = css({
  display: "none",
  _groupHover: { display: "inline" },
  "& svg": { display: "inline" },

  ml: 1,
  color: "primary.300",
})

const root_hr = css({
  mb: 8,
})
---

{
  level == 1 ? (
    <h1 {id} class={root + " " + "group"}>
      <span class={root__span}><slot /></span>
      <a href={"#" + id} class={root__a}>
        <Icon name="iconoir:link" />
      </a>
    </h1>
  ) :

  level == 2 ? (
    <>
      <h2 {id} class={`${root} ${h2} group`}>
        <span class={root__span}><slot /></span>
        <a href={"#" + id} class={root__a}>
          <Icon name="iconoir:link" />
        </a>
      </h2>
      <hr class={root_hr}/>
    </>
  ) :

  level == 3 ? (
    <h3 {id} class={root + " " + "group"}>
      <span class={root__span}><slot /></span>
      <a href={"#" + id} class={root__a}>
        <Icon name="iconoir:link" />
      </a>
    </h3>
  ) :

  level == 4 ? (
    <h4 {id} class={root + " " + "group"}>
      <span class={root__span}><slot /></span>
      <a href={"#" + id} class={root__a}>
        <Icon name="iconoir:link" />
      </a>
    </h4>
  ) :

  level == 5 ? (
    <h5 {id} class={root + " " + "group"}>
      <span class={root__span}><slot /></span>
      <a href={"#" + id} class={root__a}>
        <Icon name="iconoir:link" />
      </a>
    </h5>
  ) :

  <h6 {id} class={root + " " + "group"}>
    <span class={root__span}><slot /></span>
    <a href={"#" + id} class={root__a}>
        <Icon name="iconoir:link" />
      </a>
  </h6>
}
