---
import type { GetStaticPaths } from "astro"
import { getCollection, type CollectionEntry } from "astro:content"
import BaseLayout from "@/layouts/BaseLayout.astro"
import PostCard from "@/components/ui/PostCard.astro"
import paths from "@/config/paths"

type Bucket = {
  count: number
  entries: CollectionEntry<"blog">[]
}

export const getStaticPaths = (async () => {
  const blogs = (await getCollection("blog")).filter(v => v.data.publish)
  
  // A post can have multiple tags.
  const buckets = blogs.reduce((map, post) => {
    // Iterate tags of each post
    for (const tag of post.data.tags) {
      const find = map.get(tag)
      if (find) {
        find.count += 1
        find.entries.push(post)
      } else {
        map.set(tag, { count: 1, entries: [post] })
      }
    }
    return map
  }, new Map<string, Bucket>())
  
  return Array.from(buckets.entries()).map(([tag, bucket]) => ({
    params: { slug: tag },
    props: {
      count: bucket.count,
      entries: bucket.entries.sort(
        ({ data: { date: dateA } }, { data: { date: dateB } }) =>
          dateB.valueOf() - dateA.valueOf(),
      )
    }
  }))
}) satisfies GetStaticPaths

// params, props
const tag = Astro.params.slug
const { count, entries } = Astro.props

// head
const title = "Tags | Giban"
const description = `Posts with tag ${tag}`
const { href: url } = Astro.url

---
<BaseLayout {url} {title} {description}>
  <main>
    <h2>#{tag}</h2>
    <p>{count} posts</p>
    <ol>
      {
        entries.map(({ id, data: { title, description, date }}) => (
          <li>
            <PostCard
              href={paths.blogDetail(id)}
              {title} {description} {date}
            />
          </li>
        ))
      }
    </ol>
  </main>
</BaseLayout>
