---
import type { MarkdownHeading } from 'astro'
import { Icon } from 'astro-icon/components'
import { css } from 'styled-system/css'
import { flex } from 'styled-system/patterns'

interface Props {
  className?: string
  title: string
  tags: string[]
  headings: MarkdownHeading[]
  readingTime: number
}

const { className, title, headings, readingTime } = Astro.props

const heading1 = headings.find(v => v.depth == 1)

const root = css({
  h: "fit-content",
  bg: "bg.50",
  borderRadius: "box",
  p: 4,

  "& ul": {
    listStyleType: "disc",
  },

  "& li": {
    ml: 4, mb: 1,
  },
})

const info = flex({
  flexWrap: "wrap",
  gap: 4,
})
const info__item = flex({
  m: 0,
  alignItems: "center",
  gap: 1,
})
---

<aside class={`${root} ${className}`}>
  <!-- Title -->
  <a href={"#" + heading1?.slug}>
    <p><strong>{title}</strong></p>
  </a>

  <!-- Headings -->
  <ul>
    {
      headings
        .filter(v => v.text.trim().length > 0 && v.depth == 2)
        .map(v => (
          <li>
            <a href={"#" + v.slug}>{v.text}</a>
          </li>
        ))
    }
  </ul>

  <div class={info}>
    <!-- Reading time -->
    <p class={info__item}>
      <Icon name="iconoir:clock" />
      <span>{readingTime}m to read</span>
    </p>
  </div>
  
</aside>

<script>
  const scrollToTopBtn = document.getElementById("scroll-to-top-btn")
  if (scrollToTopBtn) {
    scrollToTopBtn.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "smooth" })
    })
  }
</script>
