---
// https://docs.astro.build/en/guides/styling/#import-a-local-stylesheet
import "../styles/index.css"

import '@fontsource/gowun-dodum';

import Header from "@/components/Header.astro"
import Footer from "@/components/Footer.astro"

const { description, title, url } = Astro.props

const bodyId = "body"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta
      name="robots"
      content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <link rel="canonical" href={url} />

    <!-- Pagefind Temporary links -->
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js" is:inline></script>
  </head>
  <body id={bodyId}>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

