---
import { css } from "styled-system/css"
import BaseLayout from "./BaseLayout.astro"
import Overview from "@/components/Overview.astro"
import type { MarkdownHeading } from 'astro'
import { flex } from "styled-system/patterns"
import { Icon } from "astro-icon/components"

interface Props {
  title: string
  description: string
	date?: string,
	tags: string[]
  url?: string
  headings: MarkdownHeading[]
  readingTime: number
}

const {
	title, description, date,
	tags, url, headings, readingTime,
} = Astro.props

// hgroup styles
const hgroup = css({
	textAlign: "center",
	my: 32,
})
const hgroup__description = css({
	fontSize: "2xl",
	mb: 8,
})
const hgroup__info = flex({
	justifyContent: "center",
  flexWrap: "wrap",
  gap: 4,
})
const hgroup__info_item = flex({
  m: 0,
  alignItems: "center",
  gap: 1,
})

// Responsive layout
const content_layout = css({
	lg: {
		display: "grid",
		gridTemplateColumns: "16rem 1fr",
		gap: "8"
	},
})
const overview = css({
	mb: 16,
	lg: {
    position: "sticky",
    top: "8",
    alignSelf: "start",
  },
})

---
<BaseLayout {url} {title} {description}>
	<!-- https://pagefind.app/docs/indexing/ -->
	<main data-pagefind-body>
		<!-- Title -->
		<hgroup class={hgroup}>
			<h1>{title}</h1>
			<p class={hgroup__description}>{description}</p>

			<div class={hgroup__info}>
				<!-- Date -->
				{date ? (
					<p class={hgroup__info_item}>
						<Icon name="iconoir:calendar" />
						<span>{date}</span>
					</p>
				) : null}

				<!-- Reading time -->
				<p class={hgroup__info_item}>
					<Icon name="iconoir:clock" />
					<span>{readingTime}m to read</span>
				</p>
			</div>
		</hgroup>
		
		<!-- Content -->
		<div class={content_layout}>
			<Overview
				className={overview}
				{title} {tags} {headings} {readingTime}
			/>
			<slot />
		</div>
	</main>
</BaseLayout>
